nav {
    background-color: #c0ccc3;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-height: 50px;
    padding: 5px;
    border-radius: 50px;
    margin: 20px;
  }
  nav ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    justify-content: space-between;
    max-height: 50px;
  }
  
  nav form{
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
  }
  .Company_Text{
    font-size: 50px;
  }
  
  body{
    margin: 0px;
  }
  .logo{
    height: 40px;
    width: 40px;
  }